/* From Uiverse.io by devsleonardo - Tags: notification */
.notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px;
  color: white;
}
.trophy {
  fill: gold;
  width: 80px;
  height: 80px;
  animation: bounce 0.5s ease-in-out 1;
}
.trophy:hover {
  animation: spin 1s ease-in-out 1;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}