/* From Uiverse.io by andrew-demchenk0 - Tags: checkbox, thumb, like */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}
svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}
svg:hover {
  transform: scale(1.1) rotate(-10deg);
}
.container input:checked ~ svg {
  fill: #2196F3;
}